<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cyberblogs.as_salam">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Masjid"
            android:screenOrientation="portrait"/>
        <activity android:name=".CenterQoran"
            android:screenOrientation="portrait"/>
        <activity android:name=".Cow"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fab"
            android:screenOrientation="portrait"/>
        <activity android:name=".Suv"
            android:screenOrientation="portrait"/>
        <activity android:name=".Category"
            android:screenOrientation="portrait"/>
        <activity android:name=".gallereya.Rasm"
            android:screenOrientation="portrait"/>
    </application>

</manifest>